body {
    background-color: rgb(34, 53, 89);
}

p {
    font-family: 'Roboto', sans-serif;
    font-size:large;
    margin:0 0 20 20;
}

h1 {
    font-family: 'Leckerli One', cursive;
    color: orange;
    padding: 40px 20px 0px 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    text-align: center;
    font-size: 70px;
    text-shadow: black 5px 5px;
}

h2 {
    font-family: 'Leckerli One', cursive;
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.content {
    background-color: blueviolet;
    margin: 0 auto 0;
    max-width: 1000px;
}

.container {
    background-color: aquamarine;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: black 5px 5px;
}

.scaler {
    display: inline-block;
    width: 40%;
    max-width: 1400px;
}

.btn {
    width: 200px;
    height:50px;
    margin: 20px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    box-shadow: black 5px 5px;
    color: white;
    font-family: 'Leckerli One';
    font-size: 25px;
    text-shadow: black 2px 2px;
}

.btn:hover {
    animation-play-state: paused;
    background-color: blueviolet;
    color: orange;
    cursor: pointer;
    scale: 1.05;
    rotate: -1deg;
    transition: all 0.2s ease-in-out;
}

.btn:active {
    background-color: red;
    color: white;
    transition: none;
}

.btn-moving {
    animation: mover 2s ease infinite;
}

@keyframes mover{
    0% {transform: rotate(0deg);}
    10% {transform: rotate(5deg);}
    30% {transform: rotate(-5deg);}
    40% {transform: rotate(5deg);}
    60% {transform: rotate(0deg);}
    100% {transform: rotate(0deg);}
}