body {
    background-color: brown;
}

.content {
    background-color: blueviolet;
    margin: 0 auto 0;
    max-width: 1000px;
}
/* Doesn´t affect the html-generated svgs..? */

.red {
    fill: red;
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke: aqua;
}

.black {
    background-color: black;
    height: 47px;
}

.diamond {
    background-color: aquamarine;
    max-width: 600px;
    width: 100%;
    /* max-width and width don´t affect the html-generated svg..? */
    margin-left: auto;
    margin-right: auto;
}

.credit-card {
    background-color: cadetblue;
    max-width: 600px;
    width: 100%;
    /* max-width and width don´t affect the html-generated svg..? */
    margin-left: auto;
    margin-right: auto;
}