body {
    background-color: brown;
}

p {
    font-family: sans-serif;
    font-size:large;
    margin:0 0 20 20;
}

.content {
    background-color: blueviolet;
    margin: 0 auto 0;
    max-width: 1000px;
}
/* Doesn´t affect the html-generated svgs..? */

.red {
    fill: red;
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke: aqua;
}

.black {
    background-color: black;
    height: 47px;
}

.container {
    background-color: aquamarine;
    max-width: 600px;
    width: 100%;
    /* max-width and width don´t affect the html-generated svg..? */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px;
}

.scaler {
    background-color: aliceblue;
    width: 100%;
    max-width: 1500px;
}